# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:HyduWe
ErrorDocument 404 /index.php?adapter=error&code=404
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE HyduWe:ERRORPAGEID

<IfModule mod_rewrite.c>

RewriteEngine on
RewriteBase /
# RewriteCond %{HTTP_HOST} ^iosystem\.com$ [NC]
# RewriteRule ^(.*)$ http://www.iosystem.com/$1 [R=301,L]

# SUB-DOMAIN
# RewriteCond %{HTTP_HOST} ^apis\.iosystem\.com$ [NC]
# RewriteRule ^((?!sub1/).*)$ /sub1/$1 [L,NC]

# XHR TARGET ************************************************

#hide extensions when call XHR .php
RewriteRule ^xhr/([a-z\_]+)/$ xhr/$1.php [QSA,L,NC]
RewriteRule ^xhr/([a-z]+)/([a-z\_]+)/$ xhr/$1/$2.php [QSA,L,NC]

# PAGE TARGET ************************************************
# use ^([a-z]*) prevent duplicating with : ^(.*)$ http://www.domain.com/$1 [R=301,L]
# domain.com/about or has forward slash after "about/" valid rule

# ---------------------------------------------
# [?route]: route-name same as controller-name
# ---------------------------------------------

# DEFAULT : HOME : ROUTE
# RewriteRule ^/?$ index.php?route=home [QSA,L]

# ROUTE : LEVEL 0 : domain.com/route/
RewriteRule ^([a-z0-9\-]+)/?$ index.php?route=$1&route_level=0 [QSA,L,NC]

# ROUTE : LEVEL 1 : domain.com/route/explicit/
RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-/]+)$ index.php?route=$1&explicit=$2&route_level=1 [QSA,L,NC]

</IfModule>



